<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <!-- Ceritanya ini header -->
  <nav>
    <h1><%= title %></h1>
    <a href="/">Home</a>
    <a href="/accounts">Accounts</a>
  </nav>

  <!-- Nanti konten kita masukkan di sini -->
  <div style="padding-top: 20px; padding-bottom: 20px;">
    Nanti kita cerita tentang hari ini yah
  </div>

  <!-- Ceritanya ini footer -->
  <footer>
    &#169; PT. Ini Websiteku Mana Websitemu dot com - 2020
  </footer>
</body>
</html>