<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <!-- Ceritanya ini header -->
  <%- include('partials/header.ejs') %>

  <!-- Nanti konten kita masukkan di sini -->
  <div style="padding-top: 20px; padding-bottom: 20px;">
    Nanti kita cerita tentang hari ini yah
  </div>

  <!-- Ceritanya ini footer -->
  <%- include('partials/footer.ejs') %>
</body>
</html>